.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modalStyle2 {
  background-color: white;
  position: fixed;
  top: 40%;
  left: 30%;
  height: 20%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
  display: block;
}

@media (max-width: 630px) {
  .modalStyle2 {
    top: 50%; /* Adjust vertical position for smaller screens */
    left: 10%; /* Adjust horizontal position for smaller screens */
    height: 40%; /* Adjust height for smaller screens */
    width: 80%; /* Adjust width for smaller screens */
  }
}